@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap');

:root {
  --sidebar-clr: rgb(251, 146, 60);
  --header-clr: rgb(230, 230, 230);
  --main-content-clr: rgb(209, 209, 209);
  --fonts: 'Raleway', sans-serif, 'Roboto';
  --search-field-text-clr: rgb(180, 83, 9);
  --search-field-bg-clr: rgb(204, 204, 204);
}

::selection {
  background-color: var(--sidebar-clr);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--fonts);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-clr);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 40px;
  place-items: center;
  padding: 2rem 1rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.header {
  grid-area: header;
  background-color: var(--header-clr);
  display: grid;
  gap: 8px;
  padding: 1.5rem 0;
  z-index: 1;
  box-shadow: 3px 2px 4px rgb(187, 187, 187);
}

.main-content {
  grid-area: main-content;
  background-color: var(--main-content-clr);
}

.sidebar img {
  height: 25px;
  width: 25px;
  justify-self: end;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  justify-self: start;
}

.sidebar a:hover {
  font-size: 1.4rem;
}

.sidebar a:nth-of-type(1) {
  font-size: 1.75rem;
  font-weight: bolder;
}

img[alt='Dashboard Icon'] {
  width: 40px;
  height: 40px;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0 8px;
}

.header-top .search {
  display: grid;
  grid-template-columns: 1fr 10fr;
  place-items: center;
  gap: 1rem;
}

.header-top .profile {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  place-items: center;
  gap: 8px;
}

.header-top img {
  height: 30px;
  width: 30px;
}

.header-top img[alt^='Profile'] {
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.search input,
.search input:focus {
  outline: none;
  width: max(100%, 200px);
  height: 35px;
  border-radius: 12px;
  border: var(--header-clr);
  background-color: var(--search-field-bg-clr);
  color: var(--search-field-text-clr);
  padding: 8px 12px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--fonts);
}

.search img {
  justify-self: end;
}

.profile img:nth-of-type(1) {
  justify-self: end;
}

.profile img:nth-of-type(2) {
  justify-self: center;
}

.profile span {
  justify-self: start;
  font-weight: bold;
}

.header-bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  padding: 0 8px;
}

.header-bottom img[alt^='Profile'] {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  justify-self: end;
}

.header-bottom .left-side {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-items: start;
  gap: 16px;
}

.left-side .profile-message {
  display: grid;
  grid-auto-rows: 20px;
  align-self: center;
}

.profile-message p {
  margin: 0;
}

.profile-message p:first-of-type {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.profile-message p:last-of-type {
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.header-bottom button {
  background-color: var(--sidebar-clr);
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 24px;
  border: none;
}

.header-bottom button:hover {
  background-color: rgb(208, 130, 14);
}

.header-bottom .right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
