:root {
  --sidebar-clr: rgb(251, 146, 60);
  --header-clr: rgb(230, 230, 230);
  --main-content-clr: rgb(209, 209, 209);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-clr);
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
  padding: 1.5rem;
  column-gap: 0.5rem;
}

.header {
  grid-area: header;
  background-color: var(--header-clr);
}

.main-content {
  grid-area: main-content;
  background-color: var(--main-content-clr);
}

.sidebar img {
  width: 30px;
  height: 30px;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

img[alt='Dashboard Icon'] {
  width: 40px;
  height: 40px;
}

.sidebar span {
  font-weight: bolder;
  justify-self: start;
}
